<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>게임터보 Util</h1>
    <p>게임터보 홍보물 이미지를 업로드 해주세요.</p>
    <form action="http://localhost:3000/fileupload", method="post", enctype="multipart/form-data">
		<input type="file" name="uploadFile" />
		<input type="submit" name="upload" />
	</form>
  </body>
</html>
